@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* permanent-marker-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: url('../font/permanent-marker-v16-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('../font/permanent-marker-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../font/permanent-marker-v16-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../font/permanent-marker-v16-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../font/permanent-marker-v16-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../font/permanent-marker-v16-latin-regular.svg#PermanentMarker') format('svg');
  /* Legacy iOS */
}


html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide;
  }
  h1,h2,h3,h4,h5,h6 {
    @apply font-bold
  }
  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl
  }
  li {
    @apply cursor-pointer
  }
  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#46a0ff] to-[#285e97] text-white;
  }
}
 @layer components {
  .span_font{
    font-family: monospace;
    white-space: nowrap
  }
  .photo_font{
    font-family: 'Shadows Into Light', cursive;
  }
 }

